<script src="js/dependencies/jquery/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap/bootstrap-3.3.5.min.js"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
<html>
<head>
  <title> Contact </title>
  <body>

<form action="/contact" method="post">
  <div class="form-group" name="message">
    <label for="message">Another label</label>
    <input type="text" class="form-control" name="message" id="message" placeholder="Type your message">
  </div>
</form>

</body>
</head>
</html>
